/.idea/
/.idea/*
/.idea_modules/
/node_modules/
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/vendor/
/coverage
/etc/UniExtract/log/*
/use.method.txt
/tests/files/bench/*
!/tests/files/bench/.gitkeep


/.phpunit.result.cache
